# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.3
print(numberFloat)

2.3
7.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

results = num1 + num2
print(results)

# results += 2
print(results + 2)

7.4
9.4

##### Subtraction

In [10]:
results_diff = num1 - num2
print(results_diff)

results_diff -= 1
print(results_diff)

-3.4000000000000004
-4.4

##### Multiplication

In [12]:
result_mul = num1 + num2
print(result_mul)

result_mul *= 2
print(result_mul)

7.4
14.8

##### Division

In [15]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [18]:
result_mod = 10 % 3
print(result_mod)

result_mod %=2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [20]:
name = "Oryan"
print(name)

Oryan

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("this is my name: ", name)

print("Full Name:", name, end=" Ethington")

this is my name:  Oryan
Full Name: Oryan Ethington

##### String Concatenation

In [25]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

John Smith

##### Type Conversion

In [30]:
numer = "32"

change_type_num = int(numer)
print(numer)
print(change_type_num)

32
32

##### input()

In [35]:
name = input("what is your name?")
print("Nice to meet you ", name)

# age = int(input("What is your age?: "))
# add_age = age + 5
# print(add_age)

what is your name?Oryan
Nice to meet you  Oryan

##### format()

In [38]:
age = input("what is your age? ")

results_string = "you are {} {} and you are getting wiser".format(age, name)
print(results_string)

result_again = f"{age} is a great time in life"
print(result_again)

what is your age? 5
you are 5 Oryan and you are getting wiser
5 is a great time in life

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
car = input("what is the color" "," " " "year" "," " " "make" "," " " "and model of your car?")
print(car)

what is the color, year, make, and model of your car?Blue, 2015, Toyota, 4Runner
Blue, 2015, Toyota, 4Runner

### If Statements

In [53]:
num1 = 6
num2 = 6

# if num1 == num2:
#     print("this is equal")
# else:
#     print('This is not equal')
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [54]:
# is key word is for checking for the same object

num1 = 5

if num3 is 55:
    print("this is the same value")

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\oryan\AppData\Local\Temp\ipykernel_14324\1172673464.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:
C:\Users\oryan\AppData\Local\Temp\ipykernel_14324\1172673464.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:
C:\Users\oryan\AppData\Local\Temp\ipykernel_14324\1172673464.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

NameError: name 'num3' is not defined

# 'in' keyword

In [58]:
name = "Frodo"

if "Frodo" in name:
    print("The same is found")

The same is found

##### 'not in' keyword'

In [60]:
name = "John"

if "a" not in name:
    print("This is not here")

This is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [62]:
name = input("What is your name? ")

if "a" not in name:
    print("This isn't here")
else:
    print("We found one!")

What is your name? oryan
We found one!

## Using 'and'/'or' with If Statements

In [65]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

if num1 / 5 == num2 and num3 - 7 == num4:
    print("Both are true")
    
if num1 > num2 or num3 == num4:
    print("One of these are true")

Both are true
One of these are true

### Elif Statements

In [70]:
first_name = input("what is your first name? ")

if first_name == "Smith":
    print("The first name is Smith")
elif first_name == "Brandon":
    print("the name is Brandon")
elif first_name != "Max":
    print("the name is not Max")
else:
    print("the name is Max")

what is your first name? John
the name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [75]:
name = "Oryan"

for i in name:
    print(i)

O
r
y
a
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [76]:
name = "Oryan"

for i in name:
    if i == "a":
        continue
    print(i)

O
r
y
n

##### Break Statement

In [ ]:
# will break out of current loop

In [78]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [79]:
name = "Oryan"

for i in name:
    pass

##### Double For Loops

In [80]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [81]:
num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

# BAD practice

game_over = True

while game_over:
    print("infinate loop")
    user_input = input("Would you like to stop?")
    if user_input == "yes":
        game_over = False

##### While & For Loops Used Together

In [84]:
num = 0
while num < 5:
    print("\n while loop iteration " + str(num))
    
    for i in range(2):
        print("for look iteration: ", str(i + 1))
    num += 1

 while loop iteration 0
for look iteration:  1
for look iteration:  2

 while loop iteration 1
for look iteration:  1
for look iteration:  2

 while loop iteration 2
for look iteration:  1
for look iteration:  2

 while loop iteration 3
for look iteration:  1
for look iteration:  2

 while loop iteration 4
for look iteration:  1
for look iteration:  2

### Built-In Functions

##### range()

In [86]:
# (start, stop, step)

for i in range(2, 20, 5):
    print(i)

2
7
12
17

##### len()

In [88]:
name = input("What is your name? ")

length = len(name)
print(length)

What is your name? Max
3

##### help()

In [89]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [90]:
# checking to see what family an object is in

print(isinstance(1.5, int))

False

##### abs()

In [93]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [95]:
####  use this to log out graceful and useful error message
# does not stop the program

try:
    number_test = 0
    input_num = int(input("guess a number "))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print("your number is" + str(input_num))
except: 
    print("that didnt work please change input to a number")

guess a number 9

### Lists

##### Declaring Lists

In [1]:
list_1 = []

names = ['John', 'Max', 'Terry', 'Bob', 'Cindy']
print(names)

['John', 'Max', 'Terry', 'Bob', 'Cindy']

##### Indexing a List

In [7]:
print(names[0])

print(names[1:])

print(names[0:3])

print(names[::2])

print(names[::-1])

John
['Max', 'Terry', 'Bob', 'Cindy']
['John', 'Max', 'Terry']
['John', 'Terry', 'Cindy']
['Cindy', 'Bob', 'Terry', 'Max', 'John']

##### .append()

In [13]:
names.append('Larry')
print(names)

['John', 'Max', 'Terry', 'Bob', 'Cindy', 'Larry', 'Larry', 'Larry', 'Larry', 'Larry', 'Larry']

##### .insert()

In [14]:
names.insert(3, 'Devon')
print(names)

['John', 'Max', 'Terry', 'Devon', 'Bob', 'Cindy', 'Larry', 'Larry', 'Larry', 'Larry', 'Larry', 'Larry']

##### .pop()

In [23]:
# names.pop(3)
# print(names)

my_names = names.pop(2)
print(my_names)
print(names)

Larry
['John', 'Max', 'Larry']


##### .remove()

In [25]:
# print.remove('Max')

while 'Max' in names:
    names.remove('Max')
print(names)

['John', 'Larry']

##### del()

In [34]:
# goes by index, not value

# del(names[1])
# print(names)

names.append('Larry')
print(names)

['John', 'Larry', 'Larry', 'Larry']

##### Concatenating Two Lists

In [37]:
names = ['Max', 'Terry', 'Henry', ['Sally', 'John', 'Larry']]
print(names)
print(names[3])
print(names[3][1])

['Max', 'Terry', 'Henry', ['Sally', 'John', 'Larry']]
['Sally', 'John', 'Larry']
John

##### Lists Within Lists

In [38]:
# will append two lists together but not add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Looping Through Lists

In [44]:
for i in range(len(names)):
    print(names[i])
    
# loop with in

for i in names:
    print([i])

Max
Terry
Henry
['Sally', 'John', 'Larry']
['Max']
['Terry']
['Henry']
[['Sally', 'John', 'Larry']]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [45]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.

cube = 1
while cube<=1000:
    num=cube**3
    print(num)
    if num == 1000:
        break
    cube += 1

# Get first prime numbers up to 100

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [46]:
import math

for num in range(1, 101):
    if num > 1:
        for i in range(2, int(math.sqrt(num))+1):
            if(num % i) ==0:
                break;
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [49]:
age_question = int(input("How old are you? "))

def howOld(age_question):
#     passed through a funtion on VS code. But tested the input on jupiter. 

    if age_question < 18:
        print("kid")
    if age_question in range(18, 65):
        print("adult")
    else:
        print("seniors")
    
#     Calling the function 
howOld(18)

How old are you? 18
adult